body {
    background-image: url('../images/cover_image.jpg');
    min-height: 100vh;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.feed-description img {
  max-width: auto; /* or 100%, depending on what you want */
  height: 80;     /* keep the aspect ratio */
  border-radius: 8px; /* optional: make corners smooth */
  display: block;     /* ensures proper spacing */
  margin: 0.5rem 0;   /* adds breathing room */
  object-fit: cover;  /* prevents distortion */
}

body,html {
    margin: 0;
    padding: 0;
}