body {
    background-image: url('../images/cover_image.jpg');
    min-height: 100vh;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

body,html {
    margin: 0;
    padding: 0;
}