<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime News Blog</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
    <nav class="bg-white p-4 md:flex md:items-center md:justify-between">
        <div class="">
                                <span class="flex justify-between items-center mx-2 font-bold text-lg">
                                    <img src=""  alt="Main image">Anime News
                                </span>

            <!-- <span>
            </span> -->

        </div>
        <ul class="ul-list md:flex md:items-center">
            <li class="mx-4 my-6 md:my-0"><a class="text-lg hover:text-blue-500 hover:cursor-pointer duration-500" th:href="@{/blog/posts}">Home</a></li>
            <li class="mx-4 my-6 md:my-0"><a class="text-lg hover:text-blue-500 hover:cursor-pointer duration-500" th:href="@{/blog/about}">About</a></li>
            <li class="mx-4 my-6 md:my-0"><a class="text-lg hover:text-blue-500 hover:cursor-pointer duration-500" th:href="@{#}">Contact</a></li>
        </ul>
    </nav>

    <div class="min-w-screen flex items-center justify-center bg-gradient-to-b from-blue-300/50 to-red-300/50 min-h-screen">
        <div class="rounded text-sm px-6 py-4 shadow-2xl">
            <form th:object="${email}" th:action="@{sendEmail}" method="post">
                <div class="font-bold text-xl mb02">Contact Me</div>
                <label for="address">Enter email</label>
                <input type="email" id="address" class="rounded px-2 py-1 flex shadow-xl" th:field="*{emailAddress}" placeholder="eg. myEmail@gmail.com" required>
                    <br>
                <label for="subject">Enter subject</label>
                <input type="text" id="subject" class="rounded flex px-2 py-1 shadow-xl" th:field="*{subject}" required>
                    <br>
                <label for="message">Enter message</label>
                <textarea id="message" class="rounded flex px-2 py-1 shadow-xl" th:field="*{message}" rows="10" cols="30" required></textarea>
                <br>

                <div class="justify-center items-center max-w">
                    <div class="rounded-full w-fit text-white px-3 py-1 bg-black shadow-lg flex justify-center">
                        <button  type="submit">Submit</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</body>
</html>